.counter_container{
    background-color: #fff;
    padding:2rem 3rem;
    border-radius:1rem;
    box-shadow: 0 10px 25px black;
    text-align: center;

}
.counter_container h1{
    margin-bottom: 1rem;
    color: rgb(6, 6, 49);
}

.count_display{

    font-size: 4rem;
    font-weight: bold;
    margin:1rem;
    color: #3a3636;

}

.button-group{
    display:flex;
    gap :1rem;
    justify-content: center;
}


.btn{
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2 ease-in-out;

}

.btn.decrement{
    background-color: rgb(51, 177, 235);
}

.btn.reset{
    background-color: #c62929;
}
.btn.increment{
    background-color: #56bd1b;
}

.btn:hover{
    transform:scale(1.05);
    opacity: 0.9;
}
