@import url('https://googleapis.com');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'AdihausDIN', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
