/* .user-container{
    background-color: #febfbf;
    padding: 25px;
    color: black;
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin: 2rem;
 } */


 .user-container{
    background-color: #febfbf;
    padding: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin: 2rem;
    border-radius: 10px;
}


#user-img{
    height: 90px;
    width: 90px;
     border-radius: 50%;


}

